/* style.css */

body {
	background: linen;
	width: 1200px;
	margin: auto;
	font-family: 'Dosis', sans-serif;
}


header, main, footer {
	min-width: 400px;
} 

header h1 {
	color: green;
	text-align: center;
	float: left;
	width: 800px;
}

header nav {
	padding-top: 20px;
	width: 400px;
	float: right;
}

main {
	width: 1000px;
	margin: auto;
	overflow: auto;
}

nav p {
	margin: 0;
	padding: 0;
}

footer {
	padding-top: 20px;
	clear: both;
}

footer div.contact {
	padding-left: 100px;
	float: left;
	width: 500px;
}

footer div.sitemap {
	float: right;
	width: 400px;
}

footer div.copyright {
	padding-left: 100px;
	float: left;
	clear: both;
	font-size: 0.8em;
}

p {
	color: black;
	padding: 0;
	margin: 0;
}


/*  Anchor Styling */
a {
	color: cornflowerblue;
	text-decoration: none;
}

a:visited {
	color: tomato;
}

a:hover {
	text-decoration: underline;
}

/* List & Items */
ol {
	border: 5px solid salmon;
	border-radius: 15px;
}

ol li {
	color: brown;
}

/* For the URL Notes */

span.ulabel {
	width: 100px;
}

.urlNotes-input {
	float: left;
}

.urlNotes-input button:hover {

	cursor: pointer;
}

.urlNotes {
	padding-top: 30px;
	clear: both;
}

.urlNotes p:nth-child(even) {
	background: orange;
}

.urlNotes p:nth-child(odd) {
	background: lime;
}

/* For the Tabs UI */
.tabs a span {
	display: inline-block;
	border-radius: 10px 10px 0 0;
	width: 200px;
	text-align: center;
	margin-right: 20px;
	background: #00cccc;
	padding: 0x;
}

.tabs a span.active {
	background: #773300;
	font-size: 20px;
}

.content {
	background: lightgray;
	padding: 0px;
	margin: 0px;
	display: none;
}

button {
	background: orange;
	margin: 10px;
	border-radius: 10px 10px 10px 10px;
	width: 100px;
}

button.refreshButton {
	background: darkorange;
}

.textInput {
	font-size: 1.1em;
}