/* style.css */

body {
	background: linen;
	width: 1200px;
	margin: auto;
	font-family: 'Dosis', sans-serif;
}


header, main, footer {
	min-width: 400px;
} 

header {
	background: orange;
}

header h1 {
	color: green;
	text-align: center;
	float: left;
	width: 800px;
}

header nav {
	padding-top: 20px;
	width: 400px;
	float: right;
}

nav p {
	margin: 0;
	padding: 0;
}

main {
	width: 1200px;
	margin: auto;
	overflow: auto;
	padding-bottom: 20px;
}

h3.meme {
	padding-left: 100px;
	font-style: italic;
}

footer {
	clear: both;
	background: lightgray;
}

footer div.contact {
	padding-left: 100px;
	float: left;
	width: 500px;
}

footer div.sitemap {
	float: right;
	width: 400px;
}

footer div.copyright {
	padding-left: 100px;
	float: left;
	clear: both;
	font-size: 0.8em;
}

p {
	color: black;
	padding: 0;
	margin: 0;
}

footer p {
	color: gray;
	padding: 0;
	margin: 0;
}



/*  Anchor Styling */
a {
	color: cornflowerblue;
	text-decoration: none;
}

header a {
	font-size: 1.2em;
}

a:visited {
	color: tomato;
}

a:hover {
	text-decoration: underline;
}

/* List & Items */
ol {
	border: 5px solid salmon;
	border-radius: 15px;
}

ol li {
	color: brown;
}

/* For the URL Notes */

span.ulabel {
	width: 100px;
}

.urlNotes-input {
	float: left;
}

.urlNotes-input button:hover {

	cursor: pointer;
}

.urlNotes {
	padding-top: 30px;
	clear: both;
}

.urlNotes p:nth-child(even) {
	background: orange;
}

.urlNotes p:nth-child(odd) {
	background: lime;
}

/* For the Tabs UI */
.tabs a span {
	display: inline-block;
	border-radius: 10px 10px 0 0;
	width: 200px;
	text-align: center;
	margin-right: 20px;
	background: #00cccc;
	padding: 0x;
}

.tabs a span.active {
	background: #773300;
	font-size: 1.5em;
}

.content {
	padding: 0px;
	margin: 0px;
	display: none;
}

button {
	background: orange;
	margin: 10px;
	border-radius: 10px 10px 10px 10px;
	width: 100px;
}

button.refreshButton {
	background: darkorange;
}

/* Subgroup Related Stuff */
.subgroupHeader {
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 1em;
	padding-top: 1em;
	margin-top: 1em;
	margin-right: 1em;
	text-align: "center";
	background-color: aqua;
}
.groupHeader {
	font-size: 1.5em;
	font-weight: bold;
	text-align: "center";
}
.groupTitle {
	font-size: 2em;
	font-color: black;
}
.subgroupTitle {
	font-size: 1.5em;
	font-color: orange;
}
.groupItem {
	font-size: 1.1em;
	margin-top: 0.5em;
	margin-left: 0.5em;
	vertical-align: middle;
}
.groupItemImage {
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
}

/* ---------------------------------------- */
/*  FormsManager related Styles             */
/* ---------------------------------------- */

section.formClass {
	padding: 50px;
}
