    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Hemocoel RIX &copy; 2017 <a href="http://twitter.com/muralirk">Murali Krishnan</a>
            </small>
        </div><!--//container-->
    </footer><!--//footer-->
