    <!-- ******HEADER****** -->
    <header class="header">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
		        <a href="/">
		        	<span class="fa fa-home"></span> Home</a>
			</div>
            <div class="col-sm-7"></div>
            <div class="col-sm-2">
		        <% if (typeof(user) !== 'undefined') { %>
				    <h2><%= user.name %></h2>
		            <a href="/logout" class="btn btn-danger btn-sm">Logout</a>        
				<% } %>
			</div>

        </div><!--//container-->
    </header><!--//header-->
