<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>App: {TEMPLATE_APP_NAME_GOES_HERE}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel="stylesheet" href="assets/styles-1.css"> <!-- load stylesheet -->
</head>

<body>
    <%- include('header'); %>

    <div class="main_container">
        <div class="container">
            <h1> Welcome to the Home Page </h1>
        </div>

        <hr/>
        <div class="row">
        <% if (typeof(user) !== 'undefined') { %>
            <div class="container">
                <div class="row">
                    <h2>Quotes to Enjoy</h2>
                    <a href="/quotes">Quotes</a>
                </div>
            </div>
        <% } else { %>
            <div class="container">
                Please login to access the services: 
                    <a href="/login" class="btn btn-danger btn-sm">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </div>            
        <% } %>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>
