    <!-- ******HEADER****** -->
    <header class="header">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
		        <a href="/">
		        	<span class="fa fa-home"></span> Home</a>
			</div>
            <div class="col-sm-5"></div>
	        <% if (typeof(user) !== 'undefined') { %>
                <div class="col-sm-2">
    			    <a href="/profile">
                    <b><%= 
                       (user.name) ? user.name 
                        : (user.google.name) ? user.google.name
                        : user.local.name;
                         %></b></a>
                </div>
                <div class="col-sm-2">
    	            <a href="/logout" class="btn btn-danger btn-sm">Logout</a>        
                </div>
			<% } else { %>
                <div class="col-sm-2">
                    <a href="/login" class="btn btn-danger btn-sm">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>        
                </div>            
            <% } %>

        </div><!--//container-->
    </header><!--//header-->
